<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Health Information</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
        <title>Health Information</title>
	</head>
	<body>
		<img id="top" src="top.png" alt="">
	<div id="form_container">
	<h1><a>Health Information</a></h1>
		<form id="form_1116020" class="appnitro"  method="post" action="">
					<div class="form_description">
					<h2>Health Information</h2>
					</div>						
			<ul >
	
	<h3><label class="description" for="element_8">Illness History</label><small>(Please check the corresponding box if you have had the following illnesses)</small></h3>
	<span>
			<input id="element_8_1" name="element_8_1" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_1">Cancer</label>
<input id="element_8_2" name="element_8_2" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_2">Diabetes</label>
<input id="element_8_3" name="element_8_3" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_3">Ligament injury</label>
<input id="element_8_4" name="element_8_4" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_4">Mental Health</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Vision</label>
</span>
			
		
		
	</br>	<label class="description" for="element_1">Are you Allergic? If so please specify allergies that you have in the text box</label>
		<div>
			<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value=""/> 

		</div> 

	<h3><label class="description" for="element_8">Services you want to be covered for</label></h3>
	<a href="weight_instructions.htm">Click here for adding priority to your selected services</a></br>
	
		<span>
			<input id="element_8_1" name="element_8_1" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_1">Abortion		
<div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_2" name="element_8_2" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_2">Accupuncture <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_3" name="element_8_3" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_3">Baby Care<div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_4" name="element_8_4" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_4">Chemotherapy <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Dental Care<div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Dialysis <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">EyeCare <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Habilitation <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Hospice <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Immunization <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Infertility <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Mammogram <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Nursing <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">PostNatal <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">PreNatal <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Radiation Therapy <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Referral <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Rehabilitation <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Surgery <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Urgent_Care <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">Weight Loss<div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_5">X Ray <div>
		<input id="element_0" name="service" class="element text medium" type="text" maxlength="255" value=""></center></input>
		</div> 
</label>

</span>
	</br><label class="description" for="element_4">Other Diseases </label>
		<small>(List any other major diseases you want to be covered)</small>
		<div>
			<textarea id="element_4" name="element_4" class="element textarea small"></textarea> 
		</div><p class="guidelines" id="guide_4"></p> 
	

	<h3><label class="description" for="element_8">Do you carry out the following activities? If yes, please check corresponding box</label></h3>
		<span>
			<input id="element_8_1" name="element_8_1" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_1">Alcohol consumption</label>
<input id="element_8_2" name="element_8_2" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_2">Cigerette/Cigar Smoking</label>
<input id="element_8_3" name="element_8_3" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_3">Substance Abuse</label>
		</span> 

		 <p><a href="form.html">Previous</a></p>

				</form>	
		<div id="footer">
			
		</div>
		
		</body>
		</html>
		
    

