<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>HIR - Health Insurance Recommender</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body">
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>HIR - Health Insurance Recommender</a></h1>
		<form id="form_1116020" class="appnitro"  method="post" action="/signup">
					<div class="form_description">
			<h2>HIR - Health Insurance Recommender</h2>
		</div>	
		<h3>Please add a weight to each service you select with more weight to higher priority service, such that sum of all the weights add up exactly equal to 100</h3>
		<p>For example- You select Abortion, dental care and eye care. If weight of dental care = 50. weight of eye care = 30. weight of abortion = 20, then your priority for dental care would be highest and that for abortion would be lowest among the selected services.
		</p>
		
			</body>
		</html>
		
